
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/js/jquery-3.3.1.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>角色修改界面</title>
</head>
<body>
    <p>
        角色名称: <input id="txtname" type="text" />
    </p>
    <p>
        是否启用：
        <input id="Radio1" type="radio" name="userRole" value="1" />是
        <input id="Radio2" type="radio" name="userRole" value="0" />否
    </p>
    权限:
    <input id="Checkbox1" type="checkbox" onclick="qx()" />
    <table class="table table-hover">
        <tr id="tr1"></tr>
        <tbody id="tb"></tbody>
    </table>
    <input id="Button1" type="button" value="修改" onclick="update()" />
</body>
</html>
<script>
    //文档就绪函数
    $(function () {
        getjurs();
        roilrole();
        inputper();
    })

    //权限
    function getjurs() {
        $.ajax({
            url: "http://localhost:12345/api/Role/PerList",
            type: 'get',
            dataType: 'json',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var p0 = '<td>'
                        + '<input id = "Checkbox' + data[i].id+'" type = "checkbox" name="ck" value="' + data[i].id+'" />'
                        + '<input id="Hidden1" type="hidden" value="' + data[i].id + '"/>'
                        + '<a href="#">' + data[i].permissionsName + '</a>'
                        + '</td>'
                    $("#tr1").append(p0);
                }
            }
        })
    }

    //返填数据
    function roilrole() {
        $.ajax({
            url: '/Role/Roill?id=' +@ViewBag.id,
            type: 'get',
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    $("#txtname").val(data.RoleName)
                    if (data.Isnable == 0) {
                        $("#Radio1").prop("checked", true);
                    }
                    else {
                        $("#Radio2").prop("checked", true);
                    }
                }
            }
        })
    }

    //权限返填
    function inputper() {
        $.ajax({
            url: '/Role/GetRolePer?id=' +@ViewBag.id,
            type: 'get',
            dataType: 'json',
            success: function (result) {              
                for (var x = 0; x < result.length; x++) {
                    $("#Checkbox" + result[x].Pid + "").prop("checked", true);
                }

            }
        })
    }


    //正反选
    function qx() {
        if ($("#Checkbox1").prop("checked") == true) {
            $("[name='ck']").prop("checked", true);
        }
        else {
            $("[name='ck']").prop("checked", false);
        }
    }

    //修改
    function update() {
        if ($("#txtname").val() == "") {
            alert('角色名称不能为空')
            return;
        }
        var id = $("input:checkbox[name='ck']:checked").map(function (index, elem) {
            return $(elem).val();
        }).get().join(',');
        var name = $("input:checkbox[name='ck']:checked").map(function (index, elem) {
            return $(elem).parent().text();
        }).get().join(',');
        if (id == 0 || name == "") {
            alert('请选择权限')
            return;
        }
        $.ajax({
            url: '/Role/Updaterole',
            type: 'post',
            dataType: 'json',
            data: {id:@ViewBag.id, roleName: $("#txtname").val(), permissionName: name, isnable: $('#Radio1').prop('checked') == true ? 1 : 0, ids: id },
            success: function (data) {
                alert(data)
                if (data > 0) {
                    alert('修改成功')
                    location.href = '/Role/RoleShows';
                }
            }
        })
    }
</script>