
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>添加指定角色</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div>
        <p style="font-size: 26px; background-color: #00ced1;text-align: center">角色及人员添加</p>
        @*<div style="float: left;border: solid 0.5px #000000;width: 40%;height: 600px;margin: 0 0 0 60px;">*@
        <div style="width: 25%;height: 400px;margin:auto;">
            <p style="text-align: center; font-size: 30px">选择角色</p>
            <select id="SelectRole" class="form-control" style="width: 100px; margin: auto" onchange="userClick(this.value)">
                @foreach (var item in @ViewBag.Role)
                {
                    <option value="@item.Id">@item.RoleName</option>
                }
            </select>
            <br />
            <br />
            <select id="SelectUser" class="form-control" style="width: 100px; margin: auto"></select>
            <br />
            <br />
            @*<option></option>*@
            @*<p style="width: 100px; margin: auto">
                <input id="button123" onclick="addUser()" type="button" value="添加角色" class="btn btn-default" />
            </p>*@
        </div>
        @*<div style="margin: 0 60px;float: right;border: solid 0.5px #000000;width: 40%;height: 600px;">

            </div>*@
    </div>
</body>
</html>
<script>
    $(function () {
        //就绪之后选中
        userClick($("#SelectRole").val());
    });
    //获取角色用户
    function userClick(id) {
        $.ajax({
            url: "/Approval/GetUser?roleId=" + id,
            success: function (data) {
                //清空下拉框
                $("#SelectUser").empty();
                //循环绑定下拉框
                $(data).each(function () {
                    $("#SelectUser").append("<option value=" + this.Id + ">" + this.OoperationUserName + "</option>");
                });
            }
        });
    }
    //function addUser() {
    //    parent.layer.close(index);
    //}
    /*子页面 回显data */
    var callBackData = function () {
        var roleId = $("#SelectRole").val();
        var userId = $("#SelectUser").val();
        var data = {
            roleId: roleId ,
            userId: userId
        };
        return data;	
    }




</script>
