
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body>
    <div>
        <p style="font-size: 26px; background-color: #00ced1;text-align: center">角色及人员添加</p>
        <div style="float: left;border: solid 0.5px #000000;width: 40%;height: 600px;margin: 0 0 0 60px;">
            <p style="text-align: center;">选择角色</p>
        </div>
        <div style="margin: 0 60px;float: right;border: solid 0.5px #000000;width: 40%;height: 600px;">

        </div>
    </div>
</body>
</html>
