
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="margin:25px">
        <div style="border:  solid #00bfff;padding: 35px; margin: 20px;">
            审批类型:
            <select id="Select1">
                <option selected="selected">补卡审批</option>

            </select>
        </div>
        <div style="border:  solid ; margin: 40px 20px 0px 20px;height: 630px">
            <p style="text-align: center; background-color: #E2F5F5; margin: 0; font-size: 30px;border-bottom: black solid">补卡流程设置</p>
            <br />
            <br />
            <span style="font-size: 30px;float:left;padding: 0px 0px 0px 120px;">默认审批流程</span>

            <div style="border: #00bfff solid; margin-left: 315px; height: 500px; ">

            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
        </div>

    </div>
</body>
</html>
