
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/zpageNav.css" rel="stylesheet" />
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/zpageNav.js"></script>
    <script src="~/js/jquery-3.3.1.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <style>
        table, td {
            border: 1px solid #cccccc;
            border-collapse: collapse;
        }

        table {
            margin-left: 15px;
            margin-top: 15px;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <h3 style="margin-left: 15px">人员列表</h3>
    <div id="app">
        <p></p>
        <p></p>
        <div id="divPerson">
            <span style="margin-left: 10px">姓名：</span><input type="text" v-model="clinicUserName" />
            <button type="button" v-on:click="getUser()" style="margin-left: 5px" class="btn btn-default">查询</button>
            <button type="button" v-on:click="addUser()" style="margin-left: 20px" class="btn btn-default">添加</button>
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:#cccccc">
                        <td><input id="ck" type="checkbox" onclick="checkAll()" /></td>
                        <td>序号</td>
                        <td>姓名</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="data in userList">
                        <td><input id='chk' type='checkbox' name='name' value="data.clinicUserName" /></td>
                        <td>{{data.id}}</td>
                        <td>{{data.clinicUserName}}</td>
                </tbody>
            </table>
            <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                      v-bind:max-page="maxPage" v-on:pagehandler="getUser">
            </zpagenav>
            <table class="table table-bordered">
                <tr>
                    <td>
                        <button type="button" v-on:click="add()" class="btn btn-default" style="margin-right: 20px">保存</button>
                        <button type="button" v-on:click="back()" class="btn btn-default">返回</button>
                    </td>
                </tr>
            </table>
            <input id="PersonText" type="hidden" v-model="Person" />
        </div>
    </div>
</body>
</html>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            userList: [], //数据
            page: 1, //起始页
            pageSize: 12, //每页数据
            total: 10, //总条数
            maxPage: 9, //总页数
            clinicUserName: "",
            Person: ""
        },
        mounted() {
            this.getUser();
        },
        methods: {
            getUser: function (page) {
                this.page = page,
                    axios.get("/Solitaire/GetPerson",
                        {
                            params: {
                                pageIndex: page,
                                pageSize: this.pageSize,
                                englishName: this.clinicUserName
                            }
                        }).then((response) => {
                            this.userList = response.data.pageList;
                            this.total = response.data.pageSizes;
                            this.maxPage = response.data.PageNum;
                        });
            }
        },

        add: function () {
            location.href = '/Solitaire/Add';
        },

        back: function () {
            location.href = '/Solitaire/Add';
        }

    });

    //全选的实现
    function checkAll() {
        $("[name='name']").prop("checked", $("#ck").prop("checked"));
    };

    //批量选中
    function deleteAll() {
        var ids = [];
        $("[name='name']:checked").each(function () {
            ids.push(this.value);
        });

        //$.ajax({
        //    url: apiUrl + "/Email/BatchDeleteEmail",
        //    data: { ids: ids.toString() },
        //    success: function (data) {
        //        if (data > 0) {
        //            $("[name='email']:checked").each(function () {
        //                $(this).parent().parent().remove();
        //            });
        //        }
        //    }
        //});
    };
</script>