
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>手术室用户</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/Scripts/vue.js"></script>
    <script src="~/js/Scripts/axios.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <table class="table-bordered table">
            <tr>
                <td>
                    工龄：<input id="txtWorkage" type="text" v-model="workage" />
                </td>
                <td>
                    职称：<select id="SelectPro" v-model="professionalId">
                        <option value="0">--请选择--</option>
                        <option v-for="data in Prodata" :value="data.id">{{data.professionalName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    工号：<input id="txtJobnumber" type="text" v-model="jobnumber" />
                </td>
                <td>
                    角色：<select id="SelectRole" v-model="roleid">
                        <option value="0">--请选择--</option>
                        <option v-for="data in Roledata" :value="data.id">{{data.roleName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> 账号：<input id="txtAccount" type="text" v-model="account" /></td>
                <td>
                    是否排班：<select id="SelectIsarrange" v-model="isarrange">
                        <option value="0">是</option>
                        <option value="1">否</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td> 密码：<input id="txtPassword" type="text" v-model="pwd" /></td>
                <td>
                    能级：<select id="SelectHier" v-model="hierarchyId">
                        <option value="0">--请选择--</option>
                        <option v-for="data in Hierdata" :value="data.id">{{data.hierarchyName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>电话：<input id="txtPhone" type="text" v-model="phone" /></td>
                <td>
                    主管：<select id="SelectUser" v-model="userid">
                        <option value="0">--请选择--</option>
                        <option v-for="data in Userdata" :value="data.id">{{data.ooperationUserName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>简称：<input id="txtSimplename" type="text" v-model="simplename" /></td>
                <td>
                    性别：<select id="SelectSex" v-model="sex">
                        <option value="0">男</option>
                        <option value="1">女</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>姓名：<input id="txtName" type="text" v-model="ooperationUserName" /></td>
                <td>
                    职务：<select id="SelectPosi" v-model="positionId">
                        <option value="0">--请选择--</option>
                        <option v-for="data in Posidata" :value="data.id">{{data.positionName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>年假天数：<input id="txtAnnualdays" type="text" v-model="annualdays" /></td>
                <td>绩效分数：<input id="txtGrade" type="text" v-model="grade" /></td>
            </tr>
            <tr>
                <td>备注：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<textarea id="TextArea1" rows="2" cols="20" v-model="ooperationUserRemark"></textarea></td>
                <td></td>
            </tr>
        </table>
        <input id="Button1" type="button" value="确定" class="btn btn-group-lg" v-on:click="Determine()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input id="Button2" type="button" value="取消" class="btn btn-group-lg" />
    </div>
</body>

</html>
<script>

    //下拉视图
    var vm = new Vue({
        el: '#app',
        data: {
            //能级
            Hierdata: [],
            //职称
            Prodata: [],
            //职务
            Posidata: [],
            //主管
            Userdata: [],
            //角色
            Roledata: [],

            //添加字段
            userid: 0, account: "",
            professionalId: 0, sex: 0,
            pwd: "", isarrange: 0,
            phone: "", simplename: "",
            roleid: 0, ooperationUserName: "",
            positionId: 0, jobnumber: "",
            hierarchyId: 0, workage: "",
            annualdays: "", grade: "",
            ooperationUserRemark: ""

        },
        //显示
        mounted() {
            //能级显示
            this.GetHierarchie();
            //职称显示
            this.GetProfessional();
            //职务显示
            this.GetPosition();
            //主管显示
            this.GetUser();
            //角色显示
            this.GetRole();
        },
        methods: {

            //能级下拉
            GetHierarchie: function () {
                axios.get('http://localhost:12345/api/Ooperationuser/GetHierarchie').then(
                    (response) => {
                        this.Hierdata = response.data;
                    }
                )
            },

            //角色下拉
            GetRole: function () {
                axios.get('http://localhost:12345/api/Ooperationuser/GetRole').then(
                    (response) => {
                        this.Roledata = response.data;
                    }
                )
            },

            //主管下拉
            GetUser: function () {
                axios.get('http://localhost:12345/api/Ooperationuser/GetUser').then(
                    (response) => {
                        this.Userdata = response.data;
                    }
                )
            },

            //职务下拉
            GetPosition: function () {
                axios.get('http://localhost:12345/api/Ooperationuser/GetPosition').then(
                    (response) => {
                        this.Posidata = response.data;
                    }
                )
            },

            //职称下拉
            GetProfessional: function () {
                axios.get('http://localhost:12345/api/Ooperationuser/GetProfessional').then(
                    (response) => {
                        this.Prodata = response.data;
                    }
                )
            },

            //添加
            Determine: function () {
                if (this.ooperationUserName == "") {
                    alert("姓名不能为空");
                    return;
                }
                if (this.account == "") {
                    alert("账户不能为空");
                    return;
                }
                if (this.pwd == "") {
                    alert("密码不能为空");
                    return;
                }
                if (this.phone == "") {
                    alert("电话不能为空");
                    return;
                }
                if (this.workage == "") {
                    alert("工龄不能为空");
                    return;
                }
                if (this.annualdays == "") {
                    alert("年假天数不能为空");
                    return;
                }
                if (this.grade == "") {
                    alert("绩效天数不能为空");
                    return;
                }

                var params = new URLSearchParams();
                params.append("Userid", this.userid);
                params.append("Account", this.account);
                params.append("professionalId", this.professionalId);
                params.append("Sex", this.sex);
                params.append("Pwd", this.pwd);
                params.append("Isarrange", this.isarrange);
                params.append("Simplename", this.simplename);
                params.append("Phone", this.phone);
                params.append("Roleid", this.roleid);
                params.append("OoperationUserName", this.ooperationUserName);
                params.append("PositionId", this.positionId);
                params.append("Jobnumber", this.jobnumber);
                params.append("Workage", this.workage);
                params.append("HierarchyId", this.hierarchyId);
                params.append("Annualdays", this.annualdays);
                params.append("Grade", this.grade);
                params.append("ooperationUserRemark", this.ooperationUserRemark);
                axios.post('/OoperationUser/OopUserAdds', params).then(
                    (response) => {
                        if (response.data > 0) {
                            alert("添加成功");
                            location.href = '/OoperationUser/OopUserShow';
                        }
                        return false;
                    }
                ).catch(function (response) {
                    alert(response);
                })
            }
        }
    })
</script>
