
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    
    <style>
        table, td {
            border: 1px solid #cccccc;
            border-collapse: collapse;
        }

        table {
            margin-left: 15px;
            margin-top: 15px;
        }
    </style>
</head>
<body>
<h3 style="margin-left: 15px">专业组设置</h3>
<div id="app">
    <table class="table table-bordered">
        <tr>
            <td>专业组名称:</td>
            <td>
                <input type="text" v-model="Name" />
            </td>
        </tr>
        <tr>
            <td>专业组颜色:</td>
            <td>
                <input type="color" v-model="Color" />
            </td>
        </tr>
        <tr>
            <td>相关科室:</td>
            <td>
                <select id="Select1" v-model="Department">
                    <option value="0">--请选择--</option>
                    <option v-for="item in departmentList" :value="item.id">
                        {{item.administrativeName}}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td>组员设置:</td>
            <td>
                <select id="Select2" v-model="People" v-on:change="getName">
                    <option value="0">--请选择--</option>
                    <option v-for="item in peopleList" :value="item.clinicUserName">
                        {{item.clinicUserName}}
                    </option>
                </select>
            </td>
        </tr>
    </table>

    <table class="table table-bordered">
        <tr style="background-color: darkgray">
            <td>序号</td>
            <td>姓名</td>
            <td>组长</td>
            <td>带教</td>
            <td>操作</td>
        </tr>
        <tr id="tr">
            <td>1</td>
            <td>{{People}}</td>
            <td>
                <input id="Radio1" type="radio" name="Radio" value="0" v-model="TeachingId" /><span>是</span>
                <input id="Radio2" type="radio" name="Radio" value="1" v-model="TeachingId" /><span>否</span>
            </td>
            <td>
                <input id="Radio3" type="radio" name="Radio3" value="0" v-model="GroupLeader" /><span>是</span>
                <input id="Radio4" type="radio" name="Radio3" value="1" v-model="GroupLeader" /><span>否</span>
            </td>
            <td>
                <div>
                    <a href="#" v-on:click="DeleteById()">删除</a>
                </div>
            </td>
        </tr>

    </table>
    <table class="table table-bordered">
        <tr>
            <td style="text-align: center;">
                <button type="button" v-on:click="addGroup()" class="btn btn-default">添加</button>
                <button type="button" v-on:click="back()" style="margin-left: 20px" class="btn btn-default">返回</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            departmentList: [],
            peopleList: [],
            Name: "",
            Color: "",
            Department: 0,
            People: 0,
            TeachingId: 0,
            GroupLeader:0
        },
        mounted() {
            this.getDepartment();
            this.getPeople();
        },
        methods: {
            //获取科室
            getDepartment: function () {
                axios.get("/Group/GetDepartment")
                    .then((response) => {
                        this.departmentList = response.data;
                    });
            },

            //获取人员
            getPeople: function () {
                axios.get("/Group/GetClinical")
                    .then((response) => {
                        this.peopleList = response.data;
                    });
            },

            //
            addGroup: function () {
                //alert(this.Name);
                //alert(this.Color);
                if (this.Name == "") {
                    alert("组名不能为空");
                    return false;
                };
                if (this.People == "") {
                    alert("成员不能为空");
                    return false;
                };

                var model = new URLSearchParams();
                model.append('ProfessionalGroupName', this.Name);
                model.append('ProfessionalGroupColore', this.Color);
                model.append('DepartmentId', this.Department);
                model.append('TeachingId', this.TeachingId);
                model.append('GroupLeader', this.GroupLeader);
                model.append('TeamMember', this.People);
                axios.post('@Url.Action("Add", "Group")',
                    model).then((response) => {
                        alert("添加成功");
                        location.href = '/Group/Index';
                    },(response) => {
                        alert(response.status);
                    }
                ).catch(function(response) {
                    alert(response);
                });
            },

            //返回主页
            back: function() {
                location.href = '/Group/Index';
            }
        }
    });

</script>
