
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/zpageNav.css" rel="stylesheet" />

    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/zpageNav.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <style>
        table, td {
            border: 1px solid #cccccc;
            border-collapse: collapse;
        }

        table {
            margin-left: 15px;
            margin-top: 15px;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
<h3 style="margin-left: 15px">专业组人员列表</h3>
<div id="app">
    <p></p>
    <p></p>
    <div id="divGroup">
        <span style="margin-left: 16px">专业组名称：</span><input type="text" v-model="name"/>
        <button type="button" v-on:click="getGroup()" style="margin-left: 5px">查询</button>
        <button type="button" v-on:click="addGroup()" style="margin-left: 20px">添加</button>
        <table class="table table-bordered">
            <thead>
            <tr style="background-color:#00ced1">
                <td>序号</td>
                <td>专业组颜色</td>
                <td>专业组名称</td> 
                <td>相关科室</td>
                <td>带教</td>
                <td>组长</td>
                <td>组员</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="data in userList">
                <td>{{data.id}}</td>
                <td :style="{backgroundColor:data.professionalGroupColore}"></td>
                <td>{{data.professionalGroupName}}</td>
                <td>{{data.departmentId}}</td>
                <td>{{data.teachingId}}</td>
                <td>{{data.groupLeader}}</td>
                <td>{{data.teamMember}}</td>
                <td>
                    <div>
                        <a href="#" v-on:click="UpdateById(data.id)">编辑</a> |
                        <a href="#" v-on:click="DeleteById(data.id)">删除</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                  v-bind:max-page="maxPage" v-on:pagehandler="getUser">
        </zpagenav>
    </div>
</div>
</body>
</html>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            userList: [],//数据
            page: 1,//起始页
            pageSize: 3,//页面数据
            total: 10,//总条数
            maxPage: 10,//最大页数
            name:""
        },
        mounted() {
            this.getGroup();
        },
        methods: {
            getGroup: function (page) {
                this.page = page,
                    axios.get("/Group/PageList",
                        {
                            params: {
                                pageIndex: page,
                                pageSize: this.pageSize,
                                name: this.name
                            }
                        }).then((response) => {
                        this.userList = response.data.pageList;
                        this.page = response.data.pageSize;
                        this.total = response.data.pageSizes;
                        this.maxPage = response.data.maxPage;
                    }).cache(function(error) {
                        userList.fetchError = error;
                    });
            },

            addGroup: function () {
                location.href = '/Group/Add';
            },

            DeleteById: function (id) {
                //alert(id);
                location.href = '/Group/Delete?id=' + id;
            },

            UpdateById: function (id) {
                //alert(id);
                location.href = '/Group/Update?id=' + id;
            }
        }
    })
</script>