
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <table class="table table-bordered">
            <tr>
                <td>专业组名称:</td>
                <td>
                    <input type="text" v-model="Name" />
                </td>
            </tr>
            <tr>
                <td>专业组颜色:</td>
                <td>
                    <input type="text" v-model="Color" />
                </td>
            </tr>
            <tr>
                <td>相关科室:</td>
                <td>
                    <select id="Select1" v-model="Department">
                        <option value="0">--请选择--</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td>组员设置:</td>
                <td>
                    <select id="Select2" v-model="People">
                        <option value="0">--请选择--</option>

                    </select>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button type="button" v-on:click="addUser()" style="margin-left: 20px">添加</button>
                    <button type="button" v-on:click="back()">返回</button>
                </td>
            </tr>

        </table>
    </div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                Name: "",
                Color: "",
                Department: "请选择",
                People: "请选择"
            },
            methods: {
                addUser: function () {
                    axios.post('@Url.Action("", "")',
                        {
                             model: {
                                 ProfessionalGroupName: this.Name,
                                 ProfessionalGroupColore: this.Colcor,
                                 DepartmentId: this.Department,
                                 TeachingId: this.TeachingId,
                                 GroupLeader: this.GroupLeader,
                                 TeamMember: this.TeamMember
                             }
                        }).then(
                        (response) => {
                            alert("添加成功");
                        },
                        (response) => {
                            alert(response.status);
                        }
                    ).catch(function (response) {
                        alert(response);
                    });
                }
            }

        });
    </script>
</body>
</html>
