
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>院区</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/zpageNav.js"></script>
</head>
<body>

    <div id="addArea">
        <table>
            <tr>
                <td>院区名称</td>
                <td><input type="text" v-model="AreaName" /></td>
            </tr>
            <tr>
                <td>手术间数量</td>
                <td><input type="text" v-model="OperatingNum" /></td>
            </tr>
            <tr>
                <td>院区属性</td>
                <td>
                    <select id="Select1" v-model="AreaProperty">
                        <option value="1">真实</option>
                        <option value="0">虚拟</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>备注</td>
                <td><input type="text" v-model="AreaRemark" /></td>
            </tr>
        </table>
        <button type="button" v-on:click="saveArea()">添加</button>
    </div>
</body>
</html>
<script>
    //定义实例
    var vm = new Vue({
        //钩子函数
        el: "#addArea",
        //定义变量
        data: {
            AreaName: "",
            OperatingNum: "",
            AreaProperty: "",
            AreaRemark: ""
        },
        //定义方法就绪函数
        mounted: function () {
            this.AreaProperty = 1;
        },
        //所有的方法
        methods: {
            saveArea: function () {
                if (this.AreaName == "") {
                    alert("院区名称不能为空");
                    return false;
                }
                if (this.AreaRemark == "") {
                    alert("院区备注不能为空");
                    return false;
                }
                //.netcore规定的传参格式
                var area = new URLSearchParams();
                area.append('AreaName', this.AreaName);
                area.append('OperatingNum', this.OperatingNum);
                area.append('AreaProperty', this.AreaProperty);
                area.append('AreaRemark', this.AreaRemark);
                axios.post("/Area/AddAreaAction", area)
                    .then((response) => {
                        if (response.data > 0) {
                            alert("添加成功");
                        }
                        return false;
                    }).catch(function (response) {
                        alert(response);
                    });
            }
        }
    })
</script>