
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*引用VUE的三个JS文件*@
    <link href="~/css/zpageNav.css" rel="stylesheet" />
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/zpageNav.js"></script>
    <style>
        /*表格样式设置*/
        table, td {
            border: 1px solid #cccccc;
            border-collapse: collapse;
        }

        table {
            width: 800px;
            margin-left: 20px;
            margin-top: 15px;
        }

        td {
            text-align: center;
        }

        .divArea {
        }
    </style>
</head>
<body>
    <div class="divArea" id="divArea">
        <span style=" margin-left: 20px">姓名：</span><input type="text" v-model="searchAreaName" />
        <button type="button" v-on:click="loadAreaList()">查询</button>
        <button type="button" v-on:click="addArea()">添加院区</button>
        <table>
            <thead>
                <tr>
                    <td>院区名称</td>
                    <td>手术间数量</td>
                    <td>院区属性</td>

                    <td>备注</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in areaList">
                    @*<td>{{item.Id}}</td>*@
                    <td>{{item.AreaName}}</td>
                    <td>{{item.OperatingNum}}</td>
                    <td>{{item.AreaProperty==1?"真实地区":"虚拟地区"}}</td>
      
                    <td>{{item.AreaRemark}}</td>
                    <td> </td>

                </tr>
            </tbody>
        </table>
        @*分页必须使用的控件*@
        <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                  v-bind:max-page="maxPage" v-on:pagehandler="loadAreaList">
        </zpagenav>
    </div>
    <script>
        //定义实例
        var vm = new Vue({
            el: "#divArea",
            data: {
                areaList: [],//给页面提供数据
                page: 1,//从第几页开始
                pageSize: 2,//页面大小
                total: 10,//总条数
                maxPage: 9//最大页数
            },
            //就绪函数
            mounted: function () {
                this.loadAreaList();
            },
            //所有的方法
            methods: {
                loadAreaList: function (page) {
                    this.page = page,
                        axios.get("/Area/ListArea", { params: { pageIndex: page, pageSize: this.pageSize, areaProperty: 3, areaName: this.searchAreaName } })
                            .then((response) => {
                                //数据
                                this.areaList = response.data.PageList;
                                //每页大小
                                this.page = response.data.PageSize;
                                //总条数
                                this.total = response.data.PageSizes;
                                //总页数
                                this.maxPage = response.data.maxPage;

                            }).cache(function (error) {
                                areaList.fetchError = error;
                            });


                },
                addArea: function () {
                    location.href = '/Area/AddArea';
                }
            }
        });


    </script>
</body>
</html>
