
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/css/zpageNav.css" rel="stylesheet" />
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/zpageNav.js"></script>
</head>
<body>
    <div id="updateArea">
        <input id="Hidden1" type="hidden" value="@ViewBag.Id" />
        <table>
            <tr>
                <td>院区名称</td>
                <td><input type="text" v-model="AreaName" /></td>
            </tr>
            <tr>
                <td>手术间数量</td>
                <td><input type="text" v-model="OperatingNum" /></td>
            </tr>
            <tr>
                <td>院区属性</td>
                <td>
                    <select id="Select1" v-model="AreaProperty">
                        <option value="1">真实</option>
                        <option value="0">虚拟</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>备注</td>
                <td><input type="text" v-model="AreaRemark" /></td>
            </tr>
        </table>
        <button type="button" v-on:click="saveUpdateArea()">修改</button>
        <button type="button" v-on:click="returnIndex()">返回</button>
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el: "#updateArea",
        data: {
            AreaName: "",
            OperatingNum: "",
            AreaProperty: "",
            AreaRemark: "",
            Id: @ViewBag.Id
        },
        mounted: function() {
            this.UpdateArea(@ViewBag.Id);
        },
        methods: {
            UpdateArea: function(id) {
                axios.get("/Area/AreaJson", { params: { id: id } }).then((response) => {
                    if (response.data != null) {
                        //alert(response.data.toString());
                        this.AreaName = response.data.AreaName;
                        this.OperatingNum = response.data.OperatingNum;
                        this.AreaProperty = response.data.AreaProperty;
                        this.AreaRemark = response.data.AreaRemark;
                    }
                });
            },
            saveUpdateArea: function() {
                if (this.AreaName === "") {
                    alert("院区名称不能为空");
                    return false;
                }
                if (this.AreaRemark === "") {
                    alert("院区备注不能为空");
                    return false;
                }
                //.netcore规定的传参格式
                var area = new URLSearchParams();
                area.append('AreaName', this.AreaName);
                area.append('OperatingNum', this.OperatingNum);
                area.append('AreaProperty', this.AreaProperty);
                area.append('AreaRemark', this.AreaRemark);
                area.append('Id', this.Id);

                axios.post("/Area/UpdateAreaAction", area)
                    .then((response) => {
                        if (response.data > 0) {
                            alert("修改成功");
                            location.href = '/Area/IndexArea';
                        }
                        return false;
                    }).catch(function(response) {
                        alert(response);
                    });
                return false;
            },
            returnIndex: function() {
                location.href = '/Area/IndexArea';
            },
            saveUpdateArea: function() {

            }
        }
    })
</script>
if (this.OperationName == "") {
alert("手术间名称不能为空");
return false;
}
if (this.OperationRemark == "") {
alert("备注不能为空");
return false;
}
//.netcore规定的传参格式
var operationRoom = new URLSearchParams();
operationRoom.append('AreaId', this.AreaId);
operationRoom.append('OperationName', this.OperationName);
operationRoom.append('OperationRemark', this.OperationRemark);
axios.post("/OperationRoom/AddRoomAction", operationRoom)
.then((response) => {
if (response.data > 0) {
location.href = '/OperationRoom/IndexRoom';
}
return false;
}).catch(function (response) {
alert(response);
});