
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>权限修改</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/Scripts/vue.js"></script>
    <script src="~/js/Scripts/axios.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="app">
        <input id="Hidden1" type="hidden" value="@ViewBag.id" />
        <table class="table table-bordered">
            <tr>
                <td>权限名：<input id="txtPermission" type="text" v-model="PermissionsName" /></td>
                <td>
                    父级权限：
                    <select id="Select1" v-model="Pid">
                        <option value="0">--请选择--</option>
                        <option v-for="data in Perdata" :value="data.id">{{data.permissionsName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    是否启用：
                    <select id="Select2" v-model="Isnable">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </td>
                <td>
                    地址：<input id="txtUrl" type="text" v-model="Url" />
                </td>
            </tr>
        </table>
        <input id="Button1" type="button" value="确定" v-on:click="update()" />
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            //文本框
            PermissionsName: "",
            //下拉
            Perdata: [],
            Pid: 0,
            Isnable: 0,
            Url: "",
            Id: @ViewBag.id

        },

        //显示
        mounted() {
            //父级权限下拉
            this.GetPid();
            //返填
            this.Roel(@ViewBag.id);
        },


        methods: {

            //显示下拉
            GetPid: function () {
                axios.get("http://localhost:12345/api/Permission/GetPermmissionList").then(
                    (Response) => {
                        this.Perdata = Response.data
                    }
                )
            },

            //返填
            Roel: function (id) {
                axios.get("http://localhost:12345/api/Permission/RoilPermmissionList?id=" + id).then(
                    (Response) => {
                        this.Id = Response.data.id;
                        this.PermissionsName = Response.data.permissionsName;
                        this.Pid = Response.data.pid;
                        this.Isnable = Response.data.isnable;
                        this.Url = Response.data.url;
                    }
                )
            },


            //修改
            update: function () {
                if (this.PermissionsName == "") {
                    alert("权限名不能为空")
                    return;
                }
                var parms = new URLSearchParams();
                parms.append("PermissionsName", this.PermissionsName);
                parms.append("Pid", this.Pid);
                parms.append("Isnable", this.Isnable);
                parms.append("Url", this.Url);
                parms.append("Id", this.Id);
                axios.post("/Permission/PermissionUpdates", parms).then(
                    (Response) => {
                        if (Response.data > 0) {
                            alert("修改成功");
                            location.href = '/Permission/PermissionShow';
                        }
                    }
                ).catch(function () {
                    alert(Response)
                })
            }
        }
    })
</script>