
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>权限添加</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/Scripts/vue.js"></script>
    <script src="~/js/Scripts/axios.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <h3 style="margin-left: 15px">权限设置</h3><p></p><p></p>
    <div id="app" style="margin-left: 10px; margin-top: 10px">
        <table class="table table-bordered">
            <tr>
                <td>权限名：</td>
                <td>
                    <input id="txtPermission" type="text" v-model="PermissionsName" />
                </td>
            </tr>
            <tr>
                <td>父级权限：</td>
                <td>
                    <select id="Select1" v-model="Pid">
                        <option value="0">--请选择--</option>
                        <option v-for="data in Perdata" :value="data.id">{{data.permissionsName}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>是否启用：</td>
                <td>
                    <select id="Select2" v-model="Isnable">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>地址：</td>
                <td>
                    <input id="txtUrl" type="text" v-model="Url" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input id="btnAdd" type="button" class="btn btn-default" value="确定" v-on:click="add()" style="margin-right: 20px" />
                    <input id="btnBack" type="button" class="btn btn-default" value="返回" v-on:click="back()" />
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            PermissionsName: "",//文本框
            Perdata: [],//下拉
            Isnable: 0,
            Pid: 0,
            Url: ""
        },

        //显示
        mounted() {
            //父级权限下拉
            this.GetPid();
        },

        methods: {
            //绑定下拉
            GetPid: function () {
                axios.get("http://localhost:12345/api/Permission/GetPermmissionList").then(
                    (Response) => {
                        this.Perdata = Response.data;
                    });
            },

            //添加
            add: function () {
                if (this.PermissionsName == "") {
                    alert("权限名不能为空");
                    return;
                }
                if (this.Url == "") {
                    alert("权限名不能为空");
                    return;
                }

                var parms = new URLSearchParams();
                parms.append("PermissionsName", this.PermissionsName);
                parms.append("Pid", this.Pid);
                parms.append("Isnable", this.Isnable);
                parms.append("Url", this.Url);

                axios.post("/Permission/PermissionAdds", parms).then(
                    (Response) => {
                        if (Response.data > 0) {
                            alert("添加成功");
                            location.href = '/Permission/PermissionShow';
                        }
                    }
                ).catch(function() {
                    alert(Response);
                });
            },

            //返回主页
            back: function() {
                location.href = '/Permission/PermissionShow';
            }
        }
    })
</script>