
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div id="app">
    <input id="Hidden1" type="hidden" value="@ViewBag.Id" />
    <table class="table table-bordered">
        <tr>
            <td>科室名称:</td>
            <td>
                <input type="text" v-model="Name"/>
            </td>
        </tr>
        <tr>
            <td>是否为手术间:</td>
            <td>
                <input id="Radio1" type="radio" name="Radio" value="1" v-model="IsOpen"/><span>是</span>
                <input id="Radio2" type="radio" name="Radio" value="2" v-model="IsOpen"/><span>否</span>
            </td>
        </tr>
        <tr>
            <td>备注:</td>
            <td>
                <input type="text" rows="2" cols="20" v-model="Remark"/>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="button" v-on:click="addDepartment(Name,IsOpen,Remark)">保存</button>
                <button type="button" v-on:click="backIndex()" style="margin-left: 20px">返回</button>
            </td>
        </tr>
    </table>
</div>
    <script type="text/javascript">
        var vm = new Vue({
            el: "#app",
            data: {
                Name: "",
                IsOpen: "",
                Remark: "",
                Id:@ViewBag.Id
            },
            mounted() {
                this.getDepartment(@ViewBag.Id);
            },
            methods: {
                getDepartment: function(id) {
                    axios.get("/Department/UpdateData",
                        {
                            params: { id: id }
                        }).then((response) => {

                        this.Name = response.data.administrativeName;
                        this.IsOpen = response.data.isoperation;
                        this.Remark = response.data.administrativeRemark;
                    });
                },

                addDepartment: function() {
                    if (this.Name == "") {
                        alert("名称不能为空");
                        return false;
                    };
                    var model = new URLSearchParams();
                    model.append('Id', this.Id);
                    model.append('AdministrativeName', this.Name);
                    model.append('Isoperation', this.IsOpen);
                    model.append('AdministrativeRemark', this.Remark);

                    axios.post('@Url.Action("UpdateDepartment", "Department")',
                        model).then((response) => {
                            alert("编辑成功"); 
                            location.href = '/Department/Index';
                        },(response) => {
                            alert(response.status);
                        }
                    ).catch(function(response) {
                        alert(response);
                    });
                },

                backIndex: function() {
                    location.href = '/Department/Index';
                }
            }

        });
    </script>
</body>
</html>
