
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <script src="~/Content/layui-admin/layui/layui.js"></script>
    <link href="~/Content/layui-admin/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/Content/layui-admin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        <div style="background-color:#0094ff">
            <div class="layui-inline">
                <label style="width:100px" class="layui-form-label">请选择范围</label>
                <div class="layui-input-inline">
                    <input class="layui-input" id="test16" type="text" placeholder="开始 到 结束">
                </div>
            </div>
        </div>
        <div style="float:left;width:1000px">
            <table id="tb" class="table table-bordered">
                <tr>
                    <td>序号</td>
                    <td>姓名</td>
                    <td>星期一</td>
                    <td>星期二</td>
                    <td>星期三</td>
                    <td>星期四</td>
                    <td>星期五</td>
                    <td>星期六</td>
                    <td>星期日</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="float:left;width:200px;margin-left:10px">
        <table id="tb2" class="table table-bordered">
            <tr>
                <td>班次</td>
            </tr>
        </table>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(function () {
            loaddata();

            //拖拽复制体
            $('td[id^="draggable"]').draggable({
                helper: "clone",
                cursor: "move"
            });
            alert(111)
            //释放后
            $('td[id^="target"]').droppable({
                drop: function (event, ui) {
                    $(this).children().remove();
                    var source = ui.draggable.clone();
                    $('<img/>', {
                        src: 'btn_delete.png',
                        style: 'display:none',
                        click: function () {
                            source.remove();
                        }
                    }).appendTo(source);


                    source.mouseenter(function () {
                        $(this).find("img").show();
                    });

                    source.mouseleave(function () {
                        $(this).find("img").hide();
                    });

                    $(this).append(source);

                }
            });
        })
        function loaddata() {
            $.ajax({
                url: "http://localhost:12345/api/Ooperationuser/GetOoperuser?hierarchyid=0",
                type: "Get",
                data: {},
                success: function (data) {
                    console.log(data)
                    $("#tb tr").eq(0).nextAll().remove();
                    var tr;
                    $.each(data, function (Index, row) {
                        tr = "<tr>"
                            + "<td>" + row.id + "</td>"
                            + "<td>" + row.ooperationUserName + "</td>"
                            + "<td></td>"
                            + "<td></td>"
                            + "<td></td>"
                            + "<td></td>"
                            + "<td></td>"
                            + "<td>休</td>"
                            + "<td>休</td>"
                            + "</tr > "
                        $("#tb").append(tr);
                    })
                }
            })
            $.ajax({
                url: "http://localhost:12345/api/Shiftssetting/GetList",
                type: "Get",
                success: function (data) {
                    console.log(data)
                    $("#tb2 tr").eq(0).nextAll().remove();
                    var tr;
                    $.each(data, function (Index, row) {
                        var color = row.shiftssettingcolour;
                        tr = "<tr>"
                            + "<td id='draggable1' style='background-color:" + color + " '>" + row.shiftssettingName + "</td>"
                            + "</tr>"
                        $("#tb2").append(tr);
                    })
                }
            })
        }

    </script>
</body>
</html>
