
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/zpageNav.css" rel="stylesheet" />

    <script src="~/js/vue.js"></script>
    <script src="~/js/axios.js"></script>
    <script src="~/js/zpageNav.js"></script>

    <style>
        table, td {
            border: 1px solid #cccccc;
            border-collapse: collapse;
        }

        table {
            width: 800px;
            margin-left: 20px;
            margin-top: 15px;
        }

        td {
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="divClinical" id="divClinical">
            <span style=" margin-left: 20px">科室：</span><input type="text" v-model="department" />
            <span style="margin-left: 20px">姓名：</span><input type="text" v-model="name" />
            <button type="button" v-on:click="getUser()">查询</button>
            <a href="/Clinical/Add" v-on:click="">添加</a>
            <table>
                <thead>
                    <tr>
                        <td>序号</td>
                        <td>姓名</td>
                        <td>性别</td>
                        <td>所属科室</td>
                        <td>工号</td>
                        <td>备注</td>
                        <td>是否启用</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="data in userList">
                    <td>{{data.id}}</td>
                    <td>{{data.clinicUserName}}</td>
                    <td>{{data.sex==1?"男":"女"}}</td>
                    <td>{{data.aadministrativeid}}</td>
                    <td>{{data.jobnumber}}</td>
                    <td>{{data.clinicUserRemark}}</td>
                    <td>{{data.isEnable==0?"是":"否"}}</td>
                    <td>
                        <div>
                            <a href="#" v-on:click="Update(data.Id)">编辑</a> |
                            <a href="#" v-on:click="delete(data.Id)">删除</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <zpagenav v-bind:page="page" v-bind:page-size="pageSize" v-bind:total="total"
                      v-bind:max-page="maxPage" v-on:pagehandler="getUser">
            </zpagenav>
        </div>

    </div>
</body>
</html>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            userList: [],//数据
            page: 1,//起始页
            pageSize: 3,//页面数据
            total: 10,//总条数
            maxPage: 9//最大页数
        },
        mounted() {
            this.getUser();
        },
        methods: {
            getUser: function (page) {
                this.page = page,
                    axios.get("/Clinical/PageList", { params: { pageIndex: page, pageSize: this.pageSize, administrativeId: this.department, englishName: this.name } })
                    .then((response) => {

                        console.log(response.pageList);
                            //数据
                        this.userList = response.data.pageList;
                            //每页大小
                            this.page = response.data.pageSize;
                            //总条数
                            this.total = response.data.pageSizes;
                            //总页数
                            this.maxPage = response.data.maxPage;

                        }).cache(function (error) {
                            userList.fetchError = error;
                        });
            },

            delete: function (id) {
                location.href = '/Clinical/Delete?id=' + id;
            }
        }
    })
</script>